<html>
  <head>
    {% if title %}
    <title>{{ title }} - Codebox</title>
    {% else %}
    <title>Welcome to Codebox</title>
    {% endif %}
  </head>
  <body>
    <div>Codebox: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% block content %}

    {% endblock %}
  </body>
</html>